////////////////////////////////////////////////////////////////////////////////
//
//		SASS for White Noise App
//		Version: 3.0
//		Updated: 3/20/17
//		Notes:	Style re-write
//
////////////////////////////////////////////////////////////////////////////////

// includes

@import 'bourbon/bourbon';
@import 'base/base';

// Colors

$medium-grey: #999;
$white: #fff;

$darkgrey50: rgba(21, 21, 21, .5);
$greyblue50: rgba(112, 121, 127, .5);
$lightgrey30: rgba(125, 125, 125, .3);

// compounded colors and gradients

$grey-overlay: linear-gradient($darkgrey50, $darkgrey50);

// other

$background-url: 'https://source.unsplash.com/igmaRVtMhqg/853x480';

body {
  background: $grey-overlay, url($background-url) center center no-repeat;
  background-size: cover;
  color: $white;
}

button {
  background: transparent;

  &:hover {
    background: $grey-overlay;
  }
}

h4 {
  margin-top: .75rem;
}

label {
  margin-bottom: 0;
}

.wn-container {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.wn-player {
  align-items: center;
  background: $grey-overlay;
  border: 2px $white solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: 720px;
  max-width: 380px;
}

.wn-playpause {
  flex: 1 1 100%;
  min-height: 90px;

  i {
    transition: all .5s ease-in-out;
  }
}

.wn-mastervolume {
  flex: 1 1 70%;
  margin: 1.5rem;
}

.wn-noisetype {
  align-items: center;
  border-bottom: 2px $white solid;
  border-right: 1px $white solid;
  border-top: 2px $white solid;
  display: flex;
  flex: 1 1 50%;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 150px;

  h4 {
    flex: 1 1 100%;
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    margin: 0 .5rem;
  }

  .wn-typebutton {
    border: 1px $white solid;
    border-radius: 6px;
    flex: 1 1 20%;
    max-width: 20%;
    padding: 1rem;
  }

  .wn-noisevolume {
    flex: 1 1 70%;
    margin: .75rem 1rem;
  }
}

.wn-ambiance {
  align-items: center;
  border-bottom: 2px $white solid;
  border-left: 1px $white solid;
  border-top: 2px $white solid;
  display: flex;
  flex: 1 1 50%;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 150px;

  h4 {
    flex: 1 1 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .wn-ambiancevolume {
    flex: 1 1 70%;
    margin: .75rem 1rem;
  }
}

.wn-lightstoggle {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  min-height: 50px;

  h4 {
    flex: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}






// On/Off Switch Styling

.onoffswitch {
  margin: auto;
  position: relative;
  user-select: none;
  width: 75px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  border: 2px solid $medium-grey;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.onoffswitch-inner {
  display: block;
  margin-left: -100%;
  transition: margin .3s ease-in 0s;
  width: 200%;
}

.onoffswitch-inner::before,
.onoffswitch-inner::after {
  box-sizing: border-box;
  color: $white;
  display: block;
  float: left;
  font-family: serif;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  width: 50%;
}

.onoffswitch-inner::before {
  background-color: $greyblue50;
  color: $white;
  content: 'ON';
  padding-left: 11px;
  text-align: left;
}

.onoffswitch-inner::after {
  background-color: $lightgrey30;
  color: $medium-grey;
  content: 'OFF';
  padding-right: 10px;
  text-align: right;
}

.onoffswitch-switch {
  @include position(absolute, 0 47px 0 null);
  background: $white;
  border: 2px solid $medium-grey;
  border-radius: 3px;
  display: block;
  margin: -1px;
  transition: all .3s ease-in 0s;
  width: 26px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
